{% include 'core/navbar.html' %}
{% load static %}

<div style="padding-top: 10%; margin-left: 10%; margin-right: 10%;">
     <div>
       <div>
           
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="color: white;">
                        <th>Company</th>
                        <th>Role</th>
                        <th>Duration</th>
                        <th>City</th>
                        <th>Bio</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody style="color: white;">
                    <input type="hidden" value={{request.user.cv.id}} id="cv_id">

                    {% if user_experiance %}
                    {% for exp in user_experiance %}

                    <tr>
                        
            
                        <td>
                           {{ exp.e_company }}
                        </td>

                        <td>
                            {{ exp.e_role }}
                         </td>

                         <td>
                            {{ exp.e_duration }}
                         </td>
                         <td>
                            {{ exp.e_city }}
                         </td>
                         <td>
                            {{ exp.e_bio }}
                         </td>

                         <td>
                             <input class="btn btn-primary btn-sm btn-edit" style="width: 70px;" data-id="{{exp.id}}" value="Edit" type="button"> 
                        </td>

                        <td>
                            <input class="btn btn-danger btn-sm btn-delete" style="width: 70px;" data-id="{{exp.id}}" value="Delete" type="button"> 
                        </td>
                    </tr>


                    {% endfor %}
                    {% endif %}
                    
                </tbody>

            </table>
        
       </div>

       <div id="save_exp_status"></div>



       <br/>
       <br/>



       <div class="update_exp_info" style="display: none;">
       <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead style="color: white;">
                <tr>
                    <th>Company</th>
                    <th>Role</th>
                    <th>Duration</th>
                    <th>City</th>
                    <th>Bio</th>

                </tr>
            </thead>
            <tbody id="tbody">
                <input type="hidden"  id="exp_id">


                <tr>
        
                    <td>
                       <input type="text"  id="company" class="form-control"/>
                    </td>

                    <td>
                        <input type="text"  id="role" class="form-control"/>
                     </td>

                     <td>
                        <input type="text"  id="duration" class="form-control"/>
                     </td>
                     <td>
                        <input type="text"  id="city" class="form-control"/>
                     </td><td>
                        <input type="text"  id="bio" class="form-control"/>
                     </td>
                </tr>
                
            </tbody>

        </table>

        <button class="btn btn-success" id="save_exp">Update</button>

        <button class="btn btn-info" id="close_exp">Close</button>

    
   </div>
</div>



     </div>
</div>


{% include 'core/edit_cv_script.html' %}