{% include 'core/navbar.html' %}
{% load static %}

<div style="padding-top: 10%; margin-left: 10%; margin-right: 10%;">
     <div>
       <div>
           
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr style="color: white;">
                        <th>Skill Name</th>
                        <th>Skill Level</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody style="color: white;">
                    <input type="hidden" value={{request.user.cv.id}} id="cv_id">

                    {% if user_skill %}
                    {% for s in user_skill %}

                    <tr>
                        
            
                        <td>
                           {{ s.s_name }}
                        </td>

                        <td>
                            {{ s.s_level }}
                         </td>

                        <td>
                             <input class="btn btn-primary btn-sm btn-edit" style="width: 70px;" data-id="{{s.id}}" value="Edit" type="button"> 
                        </td>

                        <td>
                            <input class="btn btn-danger btn-sm btn-delete" style="width: 70px;" data-id="{{s.id}}" value="Delete" type="button"> 
                        </td>
                    </tr>


                    {% endfor %}
                    {% endif %}
                    
                </tbody>

            </table>
        
       </div>

       <div id="save_skill_status"></div>



       <br/>
       <br/>



       <div class="update_skill_info" style="display: none;">
       <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead style="color: white;">
                <tr>
                    <th>Skill Name</th>
                    <th>Skill Level</th>

                </tr>
            </thead>
            <tbody id="tbody">
                <input type="hidden"  id="skill_id">


                <tr>
        
                    <td>
                       <input type="text"  id="s_name" class="form-control"/>
                    </td>

                    <td>
                        <input type="text"  id="s_level" class="form-control"/>
                     </td>
                </tr>
                
            </tbody>

        </table>

        <button class="btn btn-success" id="save_skill">Update</button>

        <button class="btn btn-info" id="close_skill">Close</button>

    
   </div>
</div>



     </div>
</div>


{% include 'core/edit_cv_script.html' %}